### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

## Player Count

* Display the total number of players

In [2]:
# Calculate the number of unique players by creating a list and getting its length
players = purchase_data['SN'].unique()
totPlayers = len(players)
totPlayers

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#Create variables to hold summary calculations
items = len(purchase_data['Item Name'].unique())
avgPrice = purchase_data['Price'].mean()
totPurchase = purchase_data['Purchase ID'].count()
totRevenue = purchase_data['Price'].sum()

#create dataframe to hold the summary calculations for table display
summary_data_df = pd.DataFrame({
    "Number of Unique Items": [items], 
    "Average Price": [avgPrice],
    "Number of Purchases": [totPurchase],
    "Total Revenue": [totRevenue]
})
#format display
summary_data_df["Average Price"] = summary_data_df["Average Price"].map("${:.2f}".format)
summary_data_df["Total Revenue"] = summary_data_df["Total Revenue"].map("${:.2f}".format)

summary_data_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
# create a new dataframe starting with the unique players list above.
gender_df = purchase_data.drop_duplicates(subset = ["SN"])
# create the gender DataFrame and calculate the percentage to add the new column
gender_counts = gender_df["Gender"].value_counts()
#gender_percentages = purchase_data["Gender"].
gender_df = pd.DataFrame({"Number by Gender": gender_counts})
gender_df['Percentage'] = (gender_df["Number by Gender"] / totPlayers)
# format display
gender_df["Percentage"] = gender_df["Percentage"].map("{:.2%}".format)
gender_df

                       Number by Gender Percentage
Male                                484     84.03%
Female                               81     14.06%
Other / Non-Disclosed                11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
# use df for every temp dataframe to keep
#create purchase count by gender data
gender_group_df = purchase_data.groupby(["Gender"])
df = gender_group_df.count()
purchase_gender_df = df[['Purchase ID']]

# average purchase price
df = gender_group_df.mean()
average_df = df[["Price"]]

# total purchase value
df = gender_group_df.sum()
total_gender_df = df[['Price']]

# # create average purchase total per person by Gender.  Must use unique numbers from above
merge_df = pd.merge(total_gender_df, gender_df, left_index=True, right_index=True)
# # drop unneeded Percentage column and add new Avg Total, then drop Number by Gender
person_average_df = merge_df[["Price", "Number by Gender"]]
person_average_df["Avg Total Purchase per Person"] = person_average_df["Price"]/person_average_df["Number by Gender"]
person_average_df = person_average_df[["Price", "Avg Total Purchase per Person"]]
person_average_df

# # merge purchase count, average purchase price, and person average to get final DataFrame
merge_df = pd.merge(purchase_gender_df, average_df, left_index=True, right_index=True)
full_merge_df = pd.merge(merge_df, person_average_df, left_index=True, right_index=True) 
full_merge_df.rename(columns = {"Purchase ID": "Purchase Count", "Price_x": "Average Purchase Price",
                               "Price_y": "Total Purchase Value"}, inplace = True)
full_merge_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame